* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
}

.mar-new {
  margin-top: 30px;
  margin-bottom: 30px;
}
.center-cl {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button  */
.bt-con {
  /* padding: 10px 150px; */
  width: 100%;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.int {
  height: 30px;
}

.hr-w {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 786px) {
  .bt-con {
    font-size: 15px;
  }
  .int {
    height: 30px;
  }
  .shadow-1 {
    box-shadow: none;
    padding: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .bt-con {
    font-size: 15px;
  }
  .int {
    height: 55px;
  }
}
